/Dataset/human_lymph_node/adata_pse_srt_5000.h5ad
/Dataset/human_lymph_node/adata_pse_srt_50000.h5ad
/Dataset/human_lymph_node/adata_scrna.h5ad
/Dataset/human_lymph_node/adata_pse_srt_3484.h5ad
/Dataset/ccRCC_ST_SM_merge_data/
/Dataset/Dataset1_Mouse_Spleen1/
/Dataset/Dataset2_Mouse_Spleen2/
/Dataset/Dataset3_Mouse_Thymus1/
/Dataset/Dataset4_Mouse_Thymus2/
/Dataset/Dataset5_Mouse_Thymus3/
/Dataset/Dataset6_Mouse_Thymus4/
/Dataset/human_lymph_node/
/Dataset/Mouse_Spleen/
/Dataset/mouse_thymus/
/data/
/Dataset/
/results/
